/* Schriftart importieren */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Farbenvariablen */
:root{
    /* ===== Farben und deren Variablen ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #009879;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --überschrift-color: #3a3b3c;
    --button-schrift-color: #F6F5FF;
    --schrift-color: #222222;
    --border-color: #00745d;
    --hover-color: #015847;
    --header-color: #07528e;
    --button-color: #00745d;
    --object-color: #ffffff;
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;

    /* Transition Variablen = Verschiebung in Sekunden, ease ist die Bewegungsart */
    --tran-03: all 0.2s ease;

}

/* class */
.color {
    color: blue; /* Schriftfarbe */
    background-color: blue; /* Background-color */
    font-family: "Quicksand", sans-serif;
}

.class {
    width: 100%;
    height: 50px;
    margin: 10px; /* Abstand des Elements zu anderen Elementen */
    padding: 0; /* Abstand innerhalb eines Elementens ,z.B. von Text zu seinem Rand */
    cursor: pointer; /* Mauszeiger mit Klick, beim draufhalten */
    box-shadow: 10px 12px 27px -5px #000000;
    overflow: hidden;
    float: left;
    outline: none; /* Linie, außen um die Border */
}

.border {
    border: #00745d; /* Rand mit Farbe */
    border-radius: 10px; /* Krümmung des Rands -> je mehr desto runder */
}

.text {
    color: var(--text-color); /* Schriftfarbe */
    font-size: 35px; /* Schriftgröße */
    font-weight: 1000; /* Schritdicke */
}

/* flex */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px; /* Spalt/Platz zwischn den Elementen */
    flex-wrap: nowrap; /* bündeln von Elementen, wenn Bild kleiner als width */
    text-align: center;
}

/* footer Beispiel */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

/* pseudo-klasse, für das Hovern */
.button:hover{
    background-color: var(--hover-color);
}

.special {
    transform: scale(0.9);
}

